body, h1, p {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-decoration: italic;
    text-shadow: 1em 2em 4em #000000;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer"
    justify-content: space-around;

body {
  font-family: Arial, sans-serif;
  color: #0056b3;
}


h1, h2, h3, p {
  margin-bottom: 10px;
}


img {
  border: 1px solid #ccc;
}


a:hover {
  text-decoration: underline;
}


button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
