body {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "body img"
        "footer footer";
    background-color: darkblue;
    color: white;
    padding: 20px;
}

header {
    grid-area: header;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    grid-area: body;
}

img {
    grid-area: img;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
    grid-area: footer;
    background-color: darkgreen;
    color: white;
    text-align: center;
}
